.my-content {
  padding: 0 !important;
}
.my-border {
  border-radius: 4px !important;
}
.card-title {
  font-size: 16px;
  font-weight: bold;
}
.avatar {
  vertical-align: middle;
  width: 100px;
  height: 120px;
  border-radius: 10%;
}
