<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title"> {{fullName}}'s Cart</div>
      </div>
      <ul class="nav nav-pills justify-content-center py-2">
        <li class="nav-item">
          <a class="nav-link" [class.active] = "active == 1" style="cursor: pointer;" (click)='onClickPenidng()'>{{'Pending' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active] = "active == 2"  style="cursor: pointer;" (click)='onClickBuyingAndPenidngStatus()'>{{'Buying' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active] = "active == 3"  style="cursor: pointer;" (click)='onClickComplete()'>{{'Complete Tab' | translate}}</a>
        </li>
      </ul>
      <div class="card-body table-responsive p-0" *ngIf="!showPending">
        <ejs-grid #grid
          id='grid'
          [dataSource]="data"
          [allowResizing]='true'
          [showColumnMenu]='true'
          allowTextWrap='true'
          [allowPaging]='true'
          gridLines='Both'
          [allowExcelExport]='true'
          [toolbar]='toolbarOptions'
          [pageSettings]='pageSettings'
          [textWrapSettings]="wrapSettings"
        >
          <e-columns>
            <e-column field="Id" textAlign='Center' width="50" isPrimaryKey="true" headerText="#">
              <ng-template #template let-data>
                {{NO(data.index)}}
              </ng-template>
              <ng-template #editTemplate let-data>
                #
              </ng-template>
            </e-column>

            <e-column field="storeName" textAlign='Center' headerText="{{ 'Store' | translate}}">
            </e-column>

              <e-column field="kindName" textAlign='Center' headerText="{{ 'Kind' | translate}}">
            </e-column>

            <e-column field="avatar" width="120" textAlign='Center' headerText="{{ 'Photo' | translate}}">
             <ng-template #template let-data>
              <img class='avatar' [src]="imagePath(data.avatar) | image: 'url'" alt="{{data.name}}" />
              </ng-template>
            </e-column>

            <e-column field="productName" textAlign='Center' headerText="{{ 'Product Name' | translate}}">
              <ng-template #template let-data>
               <span>{{data.productName}}</span>
              </ng-template>
            </e-column>
            <e-column field="description" textAlign='Left' headerText="{{'Unit' | translate}}">
              <ng-template #editTemplate let-data>
               <span style="text-align: left">{{data.description}}</span>
              </ng-template>
            </e-column>
             <e-column field="originalPrice" width="100" textAlign='Center' headerText="{{'Price'  | translate}}">
              <ng-template #editTemplate let-data>
               <span>{{data.originalPrice}} đ</span>
              </ng-template>
                <ng-template #template let-data>
               <span>{{data.originalPrice}} đ</span>
              </ng-template>
            </e-column>
            <e-column field="quantity" width="90" textAlign='Center' headerText="{{'Quantity' | translate}}"> </e-column>

             <e-column field="amount" width="100" textAlign='Center' headerText="{{'Amount' | translate}}">
              <ng-template #editTemplate let-data>
               <span>{{data.amount}} đ</span>
              </ng-template>
                <ng-template #template let-data>
               <span>{{data.amount}} đ</span>
              </ng-template>
            </e-column>

            <e-column field="orderDate" textAlign='Center' headerText="{{ 'Placing Order Date' | translate}}">
              <ng-template #template let-data>
               <span>{{data.orderDate | date: 'MM/dd'}}</span>
              </ng-template>
            </e-column>

            <e-column field="status" textAlign='Center' width="100" headerText="{{ 'Status' | translate}}">
              <ng-template #template let-data>
               <span *ngIf='data.cancelStatus' class="badge badge-danger">{{data.status | translate}}</span>
               <span *ngIf='!data.cancelStatus' class="badge badge-success">{{data.status | translate}}</span>

              </ng-template>
            </e-column>

           <e-column field="dispatchedDate" textAlign='Center' headerText="{{ 'Dispatched Date' | translate}}">
              <ng-template #template let-data>
               <span>{{data.dispatchDate === "0001-01-01T00:00:00" ? 'N/A' : data.dispatchDate  | date: 'MM/dd'}}</span>
              </ng-template>
            </e-column>

          </e-columns>
        </ejs-grid>
      </div>
      <div class="card-body table-responsive p-0" *ngIf="showPending">
       <app-pending></app-pending>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
</div>
