<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title"> Admin buy list </div>
        <ejs-toolbar #toolbarTodo>
          <e-items>
            <e-item id='pending' >
              <ng-template #template>
                <button type="button" (click)="Tabpending()" [ngClass]="pendingTabClass"  >{{ 'Pending' | translate}} </button>
              </ng-template>
            </e-item>
            <e-item id='buy-list' >
              <ng-template #template>
                <button type="button" (click)="TabBuying()" [ngClass]="buyingTabClass" >{{ 'Buying' | translate}} </button>
              </ng-template>
            </e-item>
            <e-item id='complete' >
              <ng-template #template>
                <button type="button" (click)="TabComplete()" [ngClass]="completeTabClass" >{{ 'Complete' | translate}} </button>
              </ng-template>
            </e-item>

            <e-item id='options' *ngIf="teamIdStore === 'null' || teamId === '0'">
              <ng-template #template>
                <ejs-dropdownlist  (change)='teamChange($event)' [fields]="fields" placeholder='Select Team' [dataSource]='teamData'></ejs-dropdownlist>
                <!-- <button type="button" (click)="TabComplete()" [ngClass]="completeTabClass" >{{ 'Complete' | translate}} </button> -->
              </ng-template>
            </e-item>
          </e-items>
        </ejs-toolbar>
      </div>
      <div class="card-body table-responsive p-0">
        <ejs-toolbar #toolbarTodo>
          <e-items>
            <e-item id='buy-list' >
              <ng-template #template>
                <button type="button" *ngIf="pendingTab && this.data.length > 0" (click)="byList()" class="btn btn-success" ><i class="fa fa-exchange" aria-hidden="true"></i> Today buy list </button>
              </ng-template>
            </e-item>
            <e-item id='exportBuyItem' >
              <ng-template #template>
                <button type="button" *ngIf="pendingTab && this.data.length > 0" (click)="exportPendingItem()" class="btn btn-secondary" ><i class="fa fa-file-excel-o" aria-hidden="true"></i> Export Buy Item </button>
              </ng-template>
            </e-item>

            <e-item id='cancelPending' align='right'>
              <ng-template #template>
                <button type="button" style="margin-right: 150px;" *ngIf="pendingTab && this.data.length > 0" (click)="CancelPending()" class="btn btn-danger" >Cancel</button>
              </ng-template>
            </e-item>


            <e-item id='exportBuyItem' >
              <ng-template #template>
                <button type="button" *ngIf="buyingTab && this.data.length > 0" (click)="exportBuyItem()" class="btn btn-secondary" ><i class="fa fa-file-excel-o" aria-hidden="true"></i> Export Buy Item </button>
              </ng-template>
            </e-item>
            <e-item id='exportBuyPersion' >
              <ng-template #template>
                <button type="button" *ngIf="buyingTab && this.data.length > 0" (click)="exportBuyPersion()" class="btn btn-secondary" ><i class="fa fa-file-excel-o" aria-hidden="true"></i> Export Buy Persion </button>
              </ng-template>
            </e-item>
            <e-item id='dispatch' >
              <ng-template #template>
                <button type="button" *ngIf="buyingTab && this.data.length > 0" (click)="DisPatchCheckBox()" class="btn btn-primary" ><i class="fa fa-exchange" aria-hidden="true"></i> Dispatch </button>
              </ng-template>
            </e-item>
            <e-item id='cancelBuying' align='right' >
              <ng-template #template>
                <button type="button" style="margin-right: 177px;" *ngIf="buyingTab && this.data.length > 0" (click)="CancelBuying()" class="btn btn-danger" ><i class="fa fa-ban" aria-hidden="true"></i> Cancel </button>
              </ng-template>
            </e-item>
            <e-item align='right'>
              <ng-template #template>
                <div class="e-toolbar-item e-search-wrapper e-toolbar-right" aria-disabled="false" title="Search">
                  <div class="e-input-group e-search" role="search"> <input id="toolbar_searchbar" style="width:178px" autocomplete="off"
                      [(ngModel)]="name" (change)='search($event)' class="e-input"
                      placeholder="{{ 'Search'}}">
                    <span id="toolbar_searchbutton" class="e-input-group-icon fa fa-search e-icons" tabindex="-1"
                      title="Search" aria-label="search"></span>
                  </div>
                </div>
              </ng-template>
            </e-item>
          </e-items>
        </ejs-toolbar>

        <ejs-grid *ngIf="pendingTab" #grid
          id='grid'
          [dataSource]="data"
          [allowResizing]='true'
          [showColumnMenu]='true'
          gridLines='Both'
          isPrimaryKey='true'
          [showColumnChooser]='true'
          [allowPaging]='true'
          [pageSettings]='pageSettings'
          (actionBegin)="actionBegin($event)"
          (actionComplete)="actionComplete($event)"
          [allowExcelExport]='true'
          (rowDeselected)='rowDeselected($event)'
          (rowSelected)='rowSelected($event)'
          [selectionSettings]="{ checkboxMode: 'ResetOnRowClick'}"
          [textWrapSettings]="wrapSettings"
          [editSettings]='editSettings'
        >
          <e-columns>
            <e-column type='checkbox' isPrimaryKey='true' textAlign='Center' width='40'></e-column>
            <e-column field="Id" textAlign='Center' width="50" isPrimaryKey="true" headerText="ID">
              <ng-template #template let-data>
                {{NO(data.index)}}
              </ng-template>
              <ng-template #editTemplate let-data>
                #
              </ng-template>
            </e-column>
            <e-column field="storeName" width="80" textAlign='Center' headerText="{{ 'Store' | translate}}"> </e-column>
            <e-column field="kindName" width="80" textAlign='Center' headerText="{{ 'Kind' | translate}}"> </e-column>

            <e-column field="avatar" width="100" textAlign='Center' headerText="{{ 'Photo' | translate}}">
             <ng-template #template let-data>
               <img class='avatar' [src]="imagePath(data.avatar)"  />
              </ng-template>
               <ng-template #editTemplate let-data>
               <img class='avatar' [src]="imagePath(data.avatar)"  />
              </ng-template>
            </e-column>
            <e-column field="name" textAlign='Center' headerText="{{ 'Product Name' | translate}}">
              <ng-template #editTemplate let-data>
               <span>{{data.name}}</span>
              </ng-template>
             </e-column>
            <e-column field="description" textAlign='Left' headerText="{{'Unit' | translate}}">
              <ng-template #editTemplate let-data>
               <span style="text-align: left">{{data.description}}</span>
              </ng-template>
            </e-column>
             <e-column field="originalPrice" width="100" textAlign='Center' headerText="{{'Price'  | translate}}">
              <ng-template #editTemplate let-data>
               <span>{{data.originalPrice}} đ</span>
              </ng-template>
                <ng-template #template let-data>
               <span>{{data.originalPrice}} đ</span>
              </ng-template>
            </e-column>
            <e-column field="quantity" width="80" textAlign='Center' headerText="{{'Quantity' | translate}}"> </e-column>

             <e-column field="amount" width="100" textAlign='Center' headerText="{{'Amount' | translate}}">
              <ng-template #editTemplate let-data>
               <span>{{data.amount}} đ</span>
              </ng-template>
                <ng-template #template let-data>
               <span>{{data.amount}} đ</span>
              </ng-template>
            </e-column>
               <e-column field='consumers' width="100" headerTextAlign='Center' headerText="{{ 'Consumer' | translate}}">
              <ng-template #template let-data>
                <ul style="padding: 0 0 0 15px;">
                  <li *ngFor="let item of data.consumers">{{item.fullName}}: {{item.quantity}}</li>
                </ul>
              </ng-template>
            </e-column>
          </e-columns>
        </ejs-grid>

        <div id="exportByitem">
          <ejs-grid #gridBuying
            *ngIf="buyingTab"
            id='grid'
            [allowPdfExport]='true'
            [dataSource]="data"
            [allowResizing]='true'
            [showColumnMenu]='true'
            gridLines='Both'
            isPrimaryKey='true'
            [showColumnChooser]='true'
            [allowExcelExport]='true'
            [allowPaging]='true'
            [pageSettings]='pageSettings'
            (rowDeselected)='rowDeselectedBuying($event)'
            (rowSelected)='rowSelectedBuying($event)'
            [selectionSettings]="{ checkboxMode: 'ResetOnRowClick'}"
            [textWrapSettings]="wrapSettings"
            [editSettings]='editSettings'
            (recordDoubleClick)='onDoubleClickDone($event)'
          >
            <e-columns>
              <e-column type='checkbox' isPrimaryKey='true' textAlign='Center' width='40'></e-column>
              <e-column field="Id" textAlign='Center' width="50" isPrimaryKey="true" headerText="ID">
                <ng-template #template let-data>
                  {{NOBuying(data.index)}}
                </ng-template>
                <ng-template #editTemplate let-data>
                  #
                </ng-template>
              </e-column>
              <e-column field="storeName" width="80" textAlign='Center' headerText="{{ 'Store' | translate}}"> </e-column>
              <e-column field="kindName" width="80" textAlign='Center' headerText="{{ 'Kind' | translate}}"> </e-column>
              <e-column field="avatar" width="100" textAlign='Center' headerText="{{ 'Photo' | translate}}">
              <ng-template #template let-data>
                <img class='avatar' [src]="imagePath(data.avatar)" [alt]="imagePath(data.avatar)"  />
                </ng-template>
                <ng-template #editTemplate let-data>
                <img class='avatar' [src]="imagePath(data.avatar)" [alt]="imagePath(data.avatar)"  />
                </ng-template>
              </e-column>

              <e-column field="name" textAlign='Center' headerText="{{ 'Product Name' | translate}}">
                <ng-template #editTemplate let-data>
                <span>{{data.name}}</span>
                </ng-template>
              </e-column>
              <e-column field="description" textAlign='Left' headerText="{{'Unit' | translate}}">
                <ng-template #editTemplate let-data>
                <span style="text-align: left">{{data.description}}</span>
                </ng-template>
              </e-column>
              <e-column field="originalPrice" width="100" textAlign='Center' headerText="{{'Price'  | translate}}">
                <ng-template #editTemplate let-data>
                <span>{{data.originalPrice}} đ</span>
                </ng-template>
                  <ng-template #template let-data>
                <span>{{data.originalPrice}} đ</span>
                </ng-template>
              </e-column>
              <e-column field="quantity" width="80" textAlign='Center' headerText="{{'Quantity' | translate}}"> </e-column>

              <e-column field="amount" width="100" textAlign='Center' headerText="{{'Amount' | translate}}">
                <ng-template #editTemplate let-data>
                <span>{{data.amount}} đ</span>
                </ng-template>
                  <ng-template #template let-data>
                <span>{{data.amount}} đ</span>
                </ng-template>
              </e-column>
              <e-column field='consumers' width="100" headerTextAlign='Center' headerText="{{ 'Consumer' | translate}}">
                <ng-template #template let-data>
                  <ul style="padding: 0 0 0 15px;">
                    <li *ngFor="let item of data.consumers">{{item.fullName}}: {{item.quantity}}</li>
                  </ul>
                </ng-template>
              </e-column>
            </e-columns>
          </ejs-grid>
        </div>

        <div *ngIf="completeTab" class="col-md-12">
          <div class="row">
            <div class="col-md-1">
              <div class="font-weight-bold">{{'FILTER_LABEL' | translate}}:</div>
            </div>
            <div class="col-md-3">
              <ejs-datepicker [value]='startDate' (change)='startDateOnchange($event)' [(ngModel)]='startDate'>
              </ejs-datepicker>
            </div>
            <div class="col-md-3">
              <ejs-datepicker [value]='endDate' (change)='endDateOnchange($event)' [(ngModel)]='endDate'>
              </ejs-datepicker>
            </div>
            <div class="col-md-2">
              <button class="btn btn-sm btn-secondary" (click)='onClickDefault()'>
                <i class="fa fa-times"></i>
              </button>
            </div>
          </div>
        </div>
        <ejs-grid *ngIf="completeTab" #gridComplete
          id='grid'
          [dataSource]="data"
          [allowResizing]='true'
          [showColumnMenu]='true'
          gridLines='Both'
          [allowPaging]='true'
          isPrimaryKey='true'
          [pageSettings]='pageSettings'
          (actionBegin)="actionBegin($event)"
          (actionComplete)="actionComplete($event)"
          [allowExcelExport]='true'
          (rowDeselected)='rowDeselected($event)'
          (rowSelected)='rowSelected($event)'
          [textWrapSettings]="wrapSettings"
          [editSettings]='editSettings'
        >
          <e-columns>
            <e-column field="Id" textAlign='Center' width="50" isPrimaryKey="true" headerText="ID">
              <ng-template #template let-data>
                {{NOComplete(data.index)}}
              </ng-template>
              <ng-template #editTemplate let-data>
                #
              </ng-template>
            </e-column>
            <e-column field='fullName' width="100" headerTextAlign='Center' headerText="{{ 'Consumer' | translate}}">
            </e-column>
            <e-column field='storeName' width="100" headerTextAlign='Center' headerText="{{ 'Store' | translate}}"></e-column>
            <e-column field='kindName' width="100" headerTextAlign='Center' headerText="{{ 'Kind' | translate}}"></e-column>
            <e-column field="avatar" width="100" textAlign='Center' headerText="{{ 'Photo' | translate}}">
             <ng-template #template let-data>
               <img class='avatar' [src]="imagePath(data.avatar)"  />
              </ng-template>
               <ng-template #editTemplate let-data>
               <img class='avatar' [src]="imagePath(data.avatar)"  />
              </ng-template>
            </e-column>
            <e-column field="name" textAlign='Center' headerText="{{ 'Product Name' | translate}}">
              <ng-template #editTemplate let-data>
               <span>{{data.name}}</span>
              </ng-template>
             </e-column>
            <e-column field="description" textAlign='Left' headerText="{{'Unit' | translate}}">
              <ng-template #editTemplate let-data>
               <span style="text-align: left">{{data.description}}</span>
              </ng-template>
            </e-column>
            <e-column field="quantity" width="80" textAlign='Center' headerText="{{'Quantity' | translate}}"> </e-column>
            <e-column field="cancelStatus" width="80" textAlign='Center' headerText="{{ 'Status' | translate}}">
              <ng-template #template let-data>
                <ng-container *ngIf="data.cancelStatus; else elseTemplate">
                  <span class="badge badge-danger">Cancel</span>
                </ng-container>
                <ng-template #elseTemplate>
                  <span class="badge badge-success">Complete</span>
                </ng-template>

              </ng-template>

            </e-column>
            <e-column field="date" width="80" textAlign='Center' headerText="Date"> </e-column>
          </e-columns>
        </ejs-grid>
      </div>
      <!-- /.card-body -->
       <!-- <div class="card-footer d-flex flex-row-reverse">
        <div style="font-weight:bold; font-size: 16px"> Total: {{totalPrice}} đ</div>
       </div>
         <div class="card-footer d-flex flex-row-reverse">
               <button type="button" class="btn btn-success" (click)='back()'>Back</button>
       </div> -->

    </div>
  </div>
</div>

<ng-template #dispatchModal let-modal>
  <div class="modal-header">
      <h4 class="modal-title">
          <i class="fas fa-plus"></i> DisPatch
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <ejs-grid #gridDisPatch
      id='grid'
      [dataSource]="dispatchData"
      [allowResizing]='true'
      [showColumnMenu]='true'
      gridLines='Both'
      isPrimaryKey='true'
      (actionBegin)="actionBeginDisPatch($event)"
      (actionComplete)="actionCompleteDisPatch($event)"
      [allowExcelExport]='true'
      [textWrapSettings]="wrapSettings"
      [editSettings]='editSettingsDisPatch'
    >
      <e-columns>
        <e-column field="name" textAlign='Center' headerText="{{ 'Product Name'}}">
          <ng-template #editTemplate let-data>
          <span>{{data.name}}</span>
          </ng-template>
        </e-column>
        <e-column field="fullName" textAlign='Center' headerText="{{ 'Consumer'}}">
          <ng-template #editTemplate let-data>
          <span>{{data.fullName}}</span>
          </ng-template>
        </e-column>
        <e-column field="quantity" textAlign='Center' headerText="{{ 'Total Qty'}}">
          <ng-template #editTemplate let-data>
            <span>{{data.quantity}}</span>
            </ng-template>
        </e-column>
        <e-column field="qtyTamp" textAlign='Center' headerText="{{ 'Actual Qty'}}">
        </e-column>
      </e-columns>
    </ejs-grid>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      <button type="submit" (click)="saveDisPatch()" class="btn btn-primary">Dispatch</button>
  </div>
</ng-template>

