<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body table-responsive p-0">
        <ejs-grid #grid
          id='grid'
          [dataSource]="data"
          [allowPaging]='true'
          [allowResizing]='true'
          [showColumnMenu]='true'
          gridLines='Both'
          allowTextWrap='true'
          [locale]='locale'
          (actionBegin)="actionBegin($event)"
          (actionComplete)="actionComplete($event)"
          [toolbar]='toolbarOptions'
          [pageSettings]='pageSettings'
          [allowExcelExport]='true'
          (recordDoubleClick)='onDoubleClick($event)'
          (toolbarClick)='toolbarClick($event)'
          [textWrapSettings]="wrapSettings"
          [editSettings]='editSettings'
        >
          <e-columns>
            <e-column field="ID" textAlign='Center' width="80" isPrimaryKey="true" headerText="ID">
              <ng-template #template let-data>
                {{NO(data.index)}}
              </ng-template>
              <ng-template #editTemplate let-data>
                #
              </ng-template>
            </e-column>
            <e-column field="username" textAlign='Center' headerText="{{ 'Username'}}"> </e-column>
            <e-column field="fullName" textAlign='Center' headerText="{{ 'FullName'}}"> </e-column>
            <e-column field="password" textAlign='Center' headerText="{{ 'Password'}}">
              <ng-template #template let-data>
                ************
              </ng-template>
            </e-column>
            <e-column field="group" textAlign='Center' headerText="Group">
              <ng-template #editTemplate let-data>
                <ejs-dropdownlist [allowFiltering]='true' [(ngModel)]='group_ID' [fields]="fields" placeholder='Select Group' [dataSource]='groupData'></ejs-dropdownlist>
              </ng-template>

            </e-column>
            <e-column field="team" textAlign='Center' headerText="Team">
              <ng-template #editTemplate let-data>
                <ng-container *ngIf="data.accountTypeId === ADMIN || data.accountTypeId === undefined; else elseTemplate">
                  <ejs-dropdownlist  [(ngModel)]='team_ID' [fields]="fields" placeholder='Select Team' [dataSource]='teamData'></ejs-dropdownlist>
                </ng-container>
                <ng-template #elseTemplate>

                </ng-template>

              </ng-template>

            </e-column>
            <e-column field="email" textAlign='Center' headerText="Email">
              <ng-template #template let-data>
                <ng-container *ngIf="data.email === 'Null' || data.email === ''; else elseTemplate">
                  N/A
                </ng-container>
                <ng-template #elseTemplate>
                  {{data.email}}
                </ng-template>

              </ng-template>
            </e-column>
            <e-column field='accountType' headerText="{{'Account type'}}" width='150' textAlign='Center'>
                <ng-template #editTemplate let-data>
                  <ejs-dropdownlist  [(ngModel)]='accountTypeId' [fields]="accountTypeFields" placeholder='Select account type' [dataSource]='accountTypes'></ejs-dropdownlist>
                </ng-template>
              </e-column>

            <e-column field="option" width="100" textAlign='Center' headerText="{{ 'Option'}}">
              <ng-template #template let-data>
                <div class="btn-group">
                  <button type="button" *ngIf="data.isLock" (click)='lock(data.id)' class="btn btn-xs btn-danger"><i class="fa fa-lock"></i></button>
                </div>
                <div class="btn-group">
                  <button type="button" *ngIf="!data.isLock" (click)='lock(data.id)' class="btn btn-xs btn-success"><i class="fa fa-unlock"></i></button>
                </div>
              </ng-template>
              <ng-template #editTemplate let-data>
               N/A
              </ng-template>
            </e-column>
          </e-columns>
        </ejs-grid>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
</div>

