<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body table-responsive p-0">
         <ejs-toolbar #toolbarTodo>
        <e-items>
          <!-- <e-item id='team' >
            <ng-template #template>
            <ejs-dropdownlist #team [value]='teamId' (change)="onChangeTeam($event)" [fields]="fields" placeholder='Select a team' [dataSource]='teams'></ejs-dropdownlist>
            </ng-template>
          </e-item> -->
          <e-item id='store' >
            <ng-template #template>
            <ejs-dropdownlist #store [value]='storeId' (change)="onChangeStore($event)" [fields]="fields" placeholder='Select a store' [dataSource]='stores'></ejs-dropdownlist>
            </ng-template>
          </e-item>
        <e-item id='kind' >
            <ng-template #template>
              <ejs-dropdownlist #kind [value]='kindId' (change)="onChangeKind($event)" [fields]="fields" placeholder="{{storeId > 0 ?('All' | translate ): 'Select a kind'}}" [dataSource]='kinds'></ejs-dropdownlist>
            </ng-template>
        </e-item>
        <e-item id='buy-list' >
            <ng-template #template>
               <button type="button" class="btn btn-success" (click)='gotocart()'>{{'My buy list' | translate}} ({{cartTotal}} {{cartTotal > 0 ? "items" : "item"}})</button>
            </ng-template>
        </e-item>
          <e-item align='right'>
            <ng-template #template>
              <div class="e-toolbar-item e-search-wrapper e-toolbar-right" aria-disabled="false" title="Search">
                <div class="e-input-group e-search" role="search"> <input id="toolbar_searchbar" style="width:178px" autocomplete="off"
                    [(ngModel)]="name" (change)='search($event)' class="e-input"
                    placeholder="{{ 'Search'}}">
                  <span id="toolbar_searchbutton" class="e-input-group-icon fa fa-search e-icons" tabindex="-1"
                    title="Search" aria-label="search"></span>
                </div>
              </div>
            </ng-template>
          </e-item>
        </e-items>
      </ejs-toolbar>
        <ejs-grid #grid
          id='grid'
          [dataSource]="data"
          [allowPaging]='true'
          [allowResizing]='true'
          [showColumnMenu]='true'
          allowTextWrap='true'
          gridLines='Both'
          (actionBegin)="actionBegin($event)"
          (rowSelected)="rowSelected($event)"
          (actionComplete)="actionComplete($event)"
          [pageSettings]='pageSettings'
          [allowExcelExport]='true'
          [textWrapSettings]="wrapSettings"
          [editSettings]='editSettings'
        >
          <e-columns>
            <e-column field="Id" textAlign='Center' width="50" isPrimaryKey="true" headerText="#">
              <ng-template #template let-data>
                {{NO(data.index)}}
              </ng-template>
              <ng-template #editTemplate let-data>
                #
              </ng-template>
            </e-column>

            <e-column field="storeName" width="120" textAlign='Center' headerText="{{ 'Store' | translate}}">
            </e-column>

              <e-column field="kindName" width="120" textAlign='Center' headerText="{{ 'Kind' | translate}}">
            </e-column>

            <e-column field="avatar" width="100" textAlign='Center' headerText="{{ 'Photo' | translate}}">
             <ng-template #template let-data>
               <img class='avatar' (click)='mouseenter($event,data)' [src]="imagePath(data.avatar) | image: 'url'" alt="{{data.name}}" />
              </ng-template>
               <ng-template #editTemplate let-data>
               <img class='avatar' [src]="imagePath(data.avatar) | image: 'url'" alt="{{data.name}}" />
              </ng-template>
            </e-column>
            <e-column field="name" textAlign='Center' headerText="{{ 'Product Name' | translate}}">
              <ng-template #editTemplate let-data>
               <span>{{data.name}}</span>
              </ng-template>
             </e-column>
            <e-column field="description" width="100" textAlign='Center' headerText="{{'Unit' | translate}}">
              <ng-template #editTemplate let-data>
               <span style="text-align: left">{{data.description}}</span>
              </ng-template>
            </e-column>
             <e-column field="originalPrice" width="100" textAlign='Center' headerText="{{'Price' | translate}}">
              <ng-template #editTemplate let-data>
               <span>{{data.originalPrice}} đ</span>
              </ng-template>
                <ng-template #template let-data>
               <span>{{data.originalPrice}} đ</span>
              </ng-template>
            </e-column>
            <e-column field="quantity" width="90" textAlign='Center' headerText="{{'Quantity' | translate}}">
              <ng-template #template let-data>
                <div class="input-group mb-3" style="width: 120px;">
                  <div class="input-group-prepend" style="cursor: pointer;" (click)="increaseQuantity(data)">
                    <span class="input-group-text bg-success text-white">
                      <i class="fa fa-minus"></i>
                    </span>
                  </div>
                  <input type="text" (keyup.enter)="addCart()" (ngModelChange)='ngModelChange($event)' class="form-control text-center" [(ngModel)]="data.quantity">
                  <div class="input-group-append" style="cursor: pointer;" (click)="decreaseQuantity(data)">
                    <span class="input-group-text bg-danger text-white">
                      <i class="fa fa-plus"></i>
                    </span>
                  </div>
                </div>
              </ng-template>
            </e-column>

          </e-columns>
        </ejs-grid>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
</div>

<ng-template #preview let-modal>
  <div class="modal-header">
      <h4 class="modal-title">
          {{productName}}
      </h4>
      <button type="button" class="btn bg-danger text-white" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body d-flex justify-content-center">
    <img width="500" height="520" [src]="imagePath(avatar) | image: 'url'" alt="{{productName}}" />
  </div>
</ng-template>
