<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title"> {{fullName}} buy list </div>
      </div>
      <div class="card-body table-responsive p-0">
        <ejs-grid #grid
          id='grid'
          [dataSource]="data"
          [allowResizing]='true'
          [showColumnMenu]='true'
          allowTextWrap='true'
          gridLines='Both'
          (actionBegin)="actionBegin($event)"
          (actionComplete)="actionComplete($event)"
          [allowExcelExport]='true'
           [textWrapSettings]="wrapSettings"
          [editSettings]='editSettings'
        >
          <e-columns>
            <e-column field="Id" textAlign='Center' width="50" isPrimaryKey="true" headerText="#">
              <ng-template #template let-data>
                {{NO(data.index)}}
              </ng-template>
              <ng-template #editTemplate let-data>
                #
              </ng-template>
            </e-column>
            <e-column field="avatar" width="100" textAlign='Center' headerText="{{ 'Avatar'}}">
             <ng-template #template let-data>
               <img class='avatar' [src]="imagePath(data.avatar) | image: 'url'" alt="{{data.name}}" />
              </ng-template>
               <ng-template #editTemplate let-data>
               <img class='avatar' [src]="imagePath(data.avatar) | image: 'url'" alt="{{data.name}}" />
              </ng-template>
            </e-column>
            <e-column field="name" textAlign='Center' headerText="{{ 'Product Name'}}">
              <ng-template #editTemplate let-data>
               <span>{{data.name}}</span>
              </ng-template>
             </e-column>
            <e-column field="description" textAlign='Left' headerText="Unit">
              <ng-template #editTemplate let-data>
               <span style="text-align: left">{{data.description}}</span>
              </ng-template>
            </e-column>
             <e-column field="originalPrice" width="100" textAlign='Center' headerText="Price">
              <ng-template #editTemplate let-data>
               <span>{{data.originalPrice}} đ</span>
              </ng-template>
                <ng-template #template let-data>
               <span>{{data.originalPrice}} đ</span>
              </ng-template>
            </e-column>
            <e-column field="quantity" width="80" textAlign='Center' headerText="Quantity"> </e-column>

             <e-column field="amount" width="100" textAlign='Center' headerText="Amount">
              <ng-template #editTemplate let-data>
               <span>{{data.amount}} đ</span>
              </ng-template>
                <ng-template #template let-data>
               <span>{{data.amount}} đ</span>
              </ng-template>
            </e-column>
          </e-columns>
        </ejs-grid>
      </div>
      <!-- /.card-body -->
       <div class="card-footer d-flex flex-row-reverse">
        <div style="font-weight:bold; font-size: 16px"> Total: {{totalPrice}} đ</div>
       </div>
         <div class="card-footer d-flex flex-row-reverse">
            <button type="button" class="btn btn-success" (click)='back()'>Back</button>
       </div>
    </div>
  </div>
</div>

